<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
	crossorigin="anonymous">
<head th:replace="~{fragmentos :: head('Service - Cadastro de Pedidos')}"></head>
</head>

<body>
	<header th:replace="~{fragmentos :: header('Cadastro de Pedidos')}"></header>
	<div class="container container-min-height">
		<form method="POST" th:object="${reqNovoPedido}" th:action="@{/pedidos/comanda/{id}(id = ${id})}">
			<div class="form-row">

				<div class="form-group col-md-8">
					<label class="form-label">Produtos</label>
					 <select class="form-select" name="produto">
						<option th:each="produto : ${produtos}" th:value="${produto.id}"  th:text="${produto.nome}"></option>
					</select>
				</div>

				<div class="form-group col-md-8">
					<label class="form-label">Quantidade</label> 
					<input type="text" class="form-control" th:field="*{quantidade}" />
				</div>

				<div class="form-group col-md-8">
					<label class="form-label">Observação</label>
					<input type="text"	class="form-control" th:field="*{observacao}" />
				</div>				
								
			</div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-success">Adicionar</button>

				<a href="javascript:history.back()">
					<button type="button" class="btn btn-primary">Voltar</button>
				</a>

			</div>
		</form>
	</div>
	<footer th:replace="~{fragmentos :: footer()}"></footer>
</body>
</html>