<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Service - Lista de comandas das mesas')}"></head>

<body>
	<header th:replace="~{fragmentos :: header('Lista de comandas')}"></header>

	<div class="jumbotron text-center">
		<h1>Comandas</h1>	
	</div>
	
	
	<div class="container container-min-height">
		<div class="row"></div>
		<div class="col-12">
			<h1>Gerenciamento das Comandas da mesa <span th:text="${id}"></span></h1>
		</div>
	
	
	<div class="container section-container">	
		<div class="section-coluna">
			<th:block th:each="comanda : ${comandas}">
				<div class="col text-center" >
					
					<a th:href="@{/comandas/comanda/{id}(id = ${comanda.getId()})}">
						<button type="submit" class="btn btn-primary" th:utext="${'Comanda '+comanda.getId()}"></button></a>					
				</div>
			</th:block>			
			
		</div>
		<br>
		<div class="col text-center" >
				<a class="btn btn-primary btn-sm" href="javascript:history.back()">Voltar</a>
			</div>
	</div>

	</div>
<footer th:replace="~{fragmentos :: footer()}"></footer>
</body>

</html>