/* CLASSES HTML NATIVAS */

:root {
    font-size: 16px;
    color: white;
    --primary: #2890ce;
    --secondary: #b0d0d3;
    --light-blue: #729fcf;
    --blue: #007bff;
    --deep-blue: #0a58ca;
    --dark-blue: #317EAF;
    --gray-dark: #494850;
    --gray-blue: #415A70;
    --green: #9cec5b;
    --yellow: #f6ae2d;
    --red: #dc3545;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --orange: #fd7e14;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body {
    background-color: var(--secondary);
    height: 100vh;
}

footer {
  background-color: var(--gray-blue);
  color: white;
  padding: 0.5rem 0;
  width: 100%;  
  line-height: 1.8rem
}

/* CLASSES PROPRIETÃ�RIAS */

.contencao{
	display:grid;
	grid-template-columns:1fr;
	height: 80vh;
}

.container-min-height {
  	min-height: calc(100% - 10rem);
 }

.coluna{
	place-self:center;
	width: 100%;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 4px 0 lightgray;
	background-color: white;
}

.section-container {
  	display:block;
  	place-self:center;
}

.section-coluna{
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 4px 0 lightgray;
	background-color: white;
}

.cartao-entrar{
	border-radius: 2rem;
	box-shadow: 0 4px 0 lightgray;
}

.logo-entrar{
	width: 10rem;
	z-index:1;
	margin-bottom:-2.5rem;
}

.borda-logo{
	border-style: solid;
	border-color: var(--secondary);
	border-radius: 100%;
	border-width: 1px;
}

/* CLASSES BOOTSTRAP */

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.btn-primary {
  color: #fff;
  background-color: var(--blue);
  box-shadow: none;
  box-shadow: 0 0.09rem 0 var(--cyan);
  border-color: var(--light-blue);
  border-width: 1px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--deep-blue);
  border-color: var(--deep-blue);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--deep-blue);
  border-color: var(--deep-blue);
}

.border-primary {
  border-color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--blue) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
  align-self: center;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: white;
}

.col-12 h1{
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  color: white;  
  text-shadow: 2px 2px var(--light-blue);
}

/* @MEDIA'S REPONSIVO*/

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1280px;
  }
  
  .contencao{
	display:grid;
	grid-template-columns:1fr;
	height: 100%;
  }
  
  .coluna{
	height: unset;
	width: 65%;
  }
  
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
  
  .container-min-height {
  	min-height: 750px;
  }
  
  .coluna{
	height: 80vh;
	width: 100%;
  }
  
  .cartao-entrar{
	padding: 2rem 0 0 !important;
  }

  .logo-entrar{
	width: 11rem;
	z-index:1;
	margin-bottom:-2.5rem;
  }
}